
@import '../../shared-styles/variables';

.container, .header {
  display: table;
  width: 100%;
}

.container {
  height: calc(100% - 70px);
  margin-top: 70px;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #be1a19;
  z-index: 20;
}

.header {
  background-color: #ce2424;
  color: #fffeff;

  .logo {
    border-right: 2px solid #be1a19;
    position: relative;
    font-weight: bold;
    font-size: 20px;

    span {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.nav, .content {
  display: block;
  box-sizing: border-box;
}

.user, .logout, .logo {
  display: table-cell;
}

.content {
  background-color: #f4f2f5;
  height: 100%;
  margin-left: 300px;
  width: calc(100vw - 300px);
}

.user, .logout {
  text-align: center;
  position: relative;
  height: 70px;

  span {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.user {
  float: right;
  width: 200px;
}

.logout {
  float: right;
  width: 100px;
  border-left: 2px solid #be1a19;
}

.logo {
  box-sizing: border-box;
  height: 70px;
}

.nav, .logo {
  width: 300px;
}

.nav {
  border-right: 2px solid #dbdbdd;
  height: 100%;
  position: fixed;
  background: #ffffff;

  .navItem {
    padding-left: 100px;
    list-style: none;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #dbdbdd;

    a {
      position: relative;

      &.active {
        &:before {
          background-color: red;
        }
      }

      &:before {
        background-color: #e0dee1;
        content: " ";
        width: 29px;
        height: 29px;
        position: absolute;
        left: -40px;
        top: 0;
        border-radius: 100%;
      }
    }
  }
}