
@import '../../shared-styles/variables';

.filterList {
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdbdd;
}

.filter {
  background-color: #fffeff;
  display: inline;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: #be1a19;
  }
}

.graphs {
  h2 {
    font-size: 18px;
    margin-bottom: 30px;
    &.speeltijd {
      color: #29b46d;
    }
    &.munten {
      color: #ecb154;
    }
    &.sprongen {
      color: #77b0ef;
    }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  margin-top: 20px;
}

.graph {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.graphWrapper {
  background-color: #ffffff;
  padding: 50px 10px;
  box-sizing: border-box;
}

.wrapper {
  padding: 40px;
}

.lineChart {
  margin: 0 auto;
}